@model Job
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Job</h1>

<form method="post" asp-action="Edit">

    <div class="mb-3">
        <label for="Name">Name</label>
        <input type="text" asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-outline-primary">Edit</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Back</a>

</form>
